html{
    scroll-behavior: smooth;
}
.corps{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 5%;
}

#catPhrase{
    margin-top: 1em;
    margin-bottom: 10px;
}

.boutonProd{
    margin-top: 5%;
}

#boutonProduit{
    color: #F1FAEE;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg, #E63946, #457B9D );
}
.presentation{
    align-items: center;
    display: flex;
    margin: 0 -10px;
    margin-left: 90px;
    width: 90%;
}

.presPoub{
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.imagePres{
    line-height: 0;
    margin: 0 0 5%;
}

img{
    overflow-clip-margin: content-box;
    overflow: clip;
}

.carte{
    width: 100%;
}
.presIntérieur{
    visibility: visible;
}


.corbeilleTop{
    align-items: center;
    display: flex;
    margin: 0 -10px 20px;
    margin-left: 1%;
}
.corbeilleBot{
    align-items: center;
    display:flex;
    margin: 0 -10px 20px;
    width: 50%;
    margin-left: 1%;
}

.interieurTop{
    align-items: center;
    display: flex;
    margin: 0 -10px 20px;
    margin-left: 1%;
}

.exterieurTop{
    align-items: center;
    display: flex;
    margin: 0 -10px 20px;
    margin-left: 1%;
}

.exterieurBot{
    align-items: center;
    display:flex;
    margin: 0 -10px 20px;
    width: 50%;
    margin-left: 1%;
}
.interieurBot{
    align-items: center;
    display:flex;
    margin: 0 -10px 20px;
    width: 50%;
    margin-left: 1%;
}
.container{
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    width: 100%;
    margin-right: 5%;
}

.container .card{
    position: relative;
    width: 18em;
    height: 30em;
    background: #457B9D;
    border-radius: 20px;
    overflow: hidden;
    min-width: none;
}

.container .card p{
    position: relative;
    top: 50%;
    text-align: center;
    font-size: 300%;
    font-weight: 800;
    font-style: italic;
    color: rgba(255,255,255,0.1);
}
.container .card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #E63946;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover::before{
    clip-path: circle(300px at 80% -20%);
}

.container .card::after{
    position: absolute;
    top: 50%;
    left: -2%;
}

.container .card .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
   
}


.container .card .imgBx{
    position: absolute;
    top: 20%;
    transform: translate(0%);
    z-index: 1;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container .card:hover .imgBx{
    top: 0%;
    transform: translate(0%);
}

.container .card .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    cursor: zoom-in;
} 

.container .card:hover .contentBx{
    height: 170px;
}

.container .card .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1;
}

.container .card .contentBx .color{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5;
    opacity: 0;
    visibility: hidden;
}
.container .card:hover .contentBx .color{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container .card .contentBx .color h3{
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}


.container .card .contentBx .color span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

#bleu{
    background-color: #0065FF
}
#rouge{
    background-color: #FF0000;
}
#beige{
    background-color: #FFC3AF;
}
#blanc{
    background-color: #fff;
}
#vert{
    background-color: #00822B;
}
#noir{
    background-color: black;
}
#bleuC{
    background-color: #2BE6FF;
}
#gris{
    background-color: #A0A0A0;
}
#jaune{
    background-color: #FBFF21;
}
#rose{
    background-color: #FF68D1;
}
.container .card .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #F1FAEE;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #1D3557;
    opacity: 0;
    transform: translate(50px);
    transition: 0.5s;
}

.container .card:hover .contentBx a{
    opacity: 1;
    transform: translate(0px);
    transition-delay: 0.75s;
}

.pageProduit{
    width: 99%;
}

.titre{
    padding: 20px;
    margin-left: 80px;
    color: #F1FAEE;
}

.bandeauT{
    min-width: 88em;
    background-color:#E63946;
    margin-bottom: 50px;
    text-transform: uppercase;
    margin-top: 40px;
}

.bandeauPres{
    background-color: #DCDBE0;
    padding-top: 30px;
    padding-bottom: 30px;
    min-width: 88em;
}

.bandeauP{
    background-color:#E63946;
    margin-bottom: 5%;
    text-transform: uppercase;
    height: 5%;
    min-width: 88em;
}

#scroll_to_top {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    
}

#scroll_to_top img {
    margin-top: 5px;
    width: 40px;
}

.container .card .contentBx .stock{
    margin-top: 10px;
}

.container .card .contentBx .stock button{
    border-radius: 4px;
    padding: 10px 20px;
    background: #F1FAEE;
    border-style: none;
    font-weight: 600;
    color: #1D3557;
    transform: translate(50px);
    transition: 0.5s;
    opacity: 0;
    display:inline-flex;
}

.container .card:hover .contentBx .stock button{
    opacity: 1;
    transform: translate(0px);
    transition-delay: 1s;
    cursor: pointer;
}


.container .card .contentBx .stock .allStock{
    color: #1D3557;
    margin-left: 5px;
    margin-top: 1px;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    visibility: hidden;
    width: 0;
} 

.container  .card .contentBx .commande .quantite input{
    width: 2em;
    background-color: #F1FAEE;
    border-style: none;
    text-align: center;
}

.container  .card .contentBx .commande .quantite button{
    width: 2em;
    background-color: #F1FAEE;
    border-style: none;
    cursor: pointer;
    border-radius: 4px;
}

.container  .card .contentBx .commande{
    display: inline-flex;
}

.container  .card .contentBx .commande .quantite{
    margin-left: 1em;
    transform: translate(50px);
    transition: 0.5s;
    opacity: 0;
    background-color: #F1FAEE;
    border-radius: 4px;
    padding-top: 5px;
    margin-top: 0.8em;
    height: 2em;
    font-size: 1em;
    display: inline-block;
}

.container  .card:hover .contentBx .commande .quantite{
    opacity: 1;
    transform: translate(0px);
    transition-delay: 0.8s;
}

@media screen and (max-width: 768px){
    
    #catPhrase{
        font-size: 20px;
        padding-left: 20px;
    }

    .presentation{
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    .imagePres img{
        width: 90%;
    }

    .presPoub{
        margin: 50px auto;
    }

    .boutonProd a{
        padding: 20px 30px;
        font-size: 20px;
    }
}